<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Create Tournament</title>
</head>

<body>
  <h1>Create Tournament</h1>

  <a href="/" class="button">← Back to Home</a>

  <form id="tournament-form">
    <input type="text" id="tournament-name" placeholder="Tournament Name" required />
    <input type="text" id="org-name" placeholder="Organizer" required />
    <input type="text" id="passcode" placeholder="Passcode" required />
    <button type="submit">Create Tournament</button>
  </form>
  <p id="status-message"></p>

  <script src="/public/createTournament.js" defer></script>
</body>

</html>